{
  "plugins": [
    ["transform-es2015-modules-commonjs", { "loose": true }]
  ],
  "env": {
    "node": {
      "presets": [
        ["env", {
          "targets": {
            "node": 4
          }
        }]
      ]
    }
  }
}
