{
  "plugins": [
    ["transform-es2015-modules-commonjs", { "strict": true, "noInterop": true }]
  ],
  "env": {
    "build": {
      "presets": [
        ["env", {
          "targets": {
            "node": 4
          }
        }]
      ]
    }
  }
}
